
<html>
    <head>
    </head>
    <body>
        <h3> Add plant</h3>
        <form action="/plant/add" method = "POST" >
            <input type="text" name ="plant_id" id= "plant_id" placeholder="Enter the plant id" />
            <br>
            <input type="text" name ="plant_name" id= "plant_name" placeholder="Enter the plant Name" />
            <br>
            <input type="text" name="description" id= "description" placeholder="Enter the plant description" />
            <br>
            <input type="text" name ="care_level" id= "care_level" placeholder="Enter care level" />
            <br>
            <input type="text" name ="environment" id= "environment" placeholder="Enter environment" />
            <br>
            <input type="text" name="water" id= "water" placeholder="Enter water level" />
            <br>
            <input type="text" name ="light" id= "light" placeholder="Enter light level" />
            <br>
            <input type="text" name ="plant_size" id= "plant_size" placeholder="Enter the plant size" />
            <br>
            <input type="number" name="price" id= "price" placeholder="Enter the price of the plant" />
            <br>
            <input type="text" name ="plant_type" id= "plant_type" placeholder="what is the plant type?" />
            <br>
            <input type="text" name ="edible" id= "edible" placeholder="Is it edible?" />
            <br>
            <input type="text" name="fruit_bearing" id= "fruit_bearing" placeholder="Can it grow fruits?" />
            <br>
            <input type="number" name ="quantity" id= "quantity" placeholder="Enter the quantity" />
            <br>
            <input type="submit" />
        </form>
    </body>
    </html>