<html>
    <head>
    </head>
    <body>
        <h2>List all of the plants</h2>
        <section data-position='plants'>
            
        </section>
        <input type="button" value="Add plant"/>
    </body>
</html>